{% set title = 'Firelands Request' %}
{% extends [settings.template.page, 'page.html.twig'] %}

{% block content %}
{{ parent() }}

{% if query %}
<form method="post">
    <table class="table">
    {% for key, value in query %}
    {% if value and key != 'Status' and key != 'Permalink' %}
        <tr>
            <th>
                {{ key|replace({'_': ' '}) }}
            </th>
            <td>
                {% if key == 'Title' %}
                    <strong>{{ value }}</strong>
                {% else %}
                    {{ value }}
                {% endif %}
            </td>
        </tr>
    {% endif %}
    {% endfor %}
    </table>

    <div class="form-flex">
        <div{% if 'name' in errors %} class="has-failure"{% endif %}>
            <label for="name">Your Name</label>
            {{
                helper.input({
                    type: 'text',
                    name: 'name',
                    value: session.name,
                    attribs: {
                        class: 'field',
                        id: 'name',
                        required: true
                    }
                })
                |raw
            }}
        </div>
        <div{% if 'email' in errors %} class="has-failure"{% endif %}>
            <label for="email">Your Email</label>
            {{
                helper.input({
                    type: 'email',
                    name: 'email',
                    value: session.email,
                    attribs: {
                        class: 'field',
                        id: 'email',
                        required: true
                    }
                })
                |raw
            }}
        </div>
        <div{% if 'id' in errors %}  class="has-failure"{% endif %}>
            <label for="id">Your BGSU ID Number</label>
            {{
                helper.input({
                    type: 'text',
                    name: 'id',
                    value: session.id,
                    attribs: {
                        class: 'field',
                        id: 'id',
                        required: true
                    }
                })
                |raw
            }}
        </div>
    </div>
    <div class="form-flex">
        <div{% if 'comments' in errors %} class="has-failure"{% endif %}>
            <label for="comments">Comments</label>
            {{
                helper.input({
                    type: 'textarea',
                    name: 'comments',
                    value: session.comments,
                    attribs: {
                        class: 'field',
                        id: 'comments'
                    }
                })
                |raw
            }}
        </div>
    </div>
    {{
        helper.input({
            type: 'submit',
            name: false,
            value: 'Send Request',
            attribs: {class: 'button button-primary'}
        })
        |raw
    }}
    {{ csrf_hidden|raw }}
</form>
{% elseif messages is empty %}
    Please select a catalog item to request at Firelands.
{% endif %}
{% endblock %}

{% block footer %}
{% endblock %}

{% block styles %}
{{ parent() }}
<link rel="stylesheet" href="{{ base_url() }}/css/form.css">
{% endblock %}
