// Base URL to various Map It resources.
var mapit_baseurl = '{{ base_url() }}';

// Defines status for a location to receive a button.
var mapit_status = {
{% for location in settings.locations %}
    '{{ location.title }}': '{{ location.status }}'{{ loop.last ? '' : ',' }}
{% endfor %}
};

// Defines the action for the button added to a location.
var mapit_action = {
{% for location in settings.locations %}
    '{{ location.title }}': '{{ location.action }}'{{ loop.last ? '' : ',' }}
{% endfor %}
};

// Select all bib items available on the page.
jQuery('.bibItems tr.bibItemsEntry')
.on('click', '.map-it', function() {
    // Set any Map It button to load a popup window when clicked.
    window.open(
        this.href,
        'mapit',
        'width=800,height=650,menubar=1,resizable=1,scrollbars=1'
    );

    return false;
})
.on('click', '.map-it-action', function() {
    // Set any action button for a location to load a popup window when clicked.
    window.open(
        this.href,
        'mapitaction',
        'width=800,height=650,menubar=1,resizable=1,scrollbars=1'
    );

    return false;
})
.each(function() {
    // Loop through each bib item.
    var element = jQuery(this), cell = {}, text = {},
        keys = ['Location', 'Call Number', 'Volume', 'Status'];

    // Remove Volume from list of keys if that table column doesn't exist.
    if (element.find('td').length === 3) {
        keys.splice(2, 1);
    }

    // Retrieve the cell and text from the cell for each column.
    for (var count = 0; count < keys.length; count++) {
        cell[keys[count]] = element.find('td:nth-child(' + (count + 1) + ')');
        text[keys[count]] = jQuery.trim(cell[keys[count]].text());
    }

    if (text['Location'] === 'Internet' || text['Call Number'] === '') {
        // Remove call numbers from items available on the Internet.
        cell['Call Number'].empty();
    } else {
        // If the item has a call number, append the Map It button.
        cell['Call Number'].prepend(
            '<a href="http://ul.bgsu.edu/stackmap/search.php?' +
                jQuery.param({
                    'loc_arr': text['Location'],
                    'call_arr': text['Call Number']
                }) +
                '" class="map-it">' +
            '<img src="' +
                mapit_baseurl +
                '/images/btn_mapit.png" alt="Map It">' +
            '</a>'
        );
    }

    if (mapit_status.hasOwnProperty(text['Location'])) {
        if (mapit_status[text['Location']] === text['Status']) {
            // If the item has a location, and that location has the correct
            // status, create a slug of the action for the button.
            var action = mapit_action[text['Location']]
                .toLowerCase()
                .replace(/[^\w\-]+/g, '-');

            // Retrieve the Permalink for the item from elsewhere on the page.
            text['Permalink'] = jQuery.trim(jQuery('#permalink a').text());

            if (text['Permalink']) {
                // If the Permalink is available, an action can be peformed
                // with the record, so pull in the rest of the records data
                // from elsewhere on the page.
                jQuery('#bibDisplayWrapper .bibInfoEntry tr').each(function() {
                    var key = jQuery.trim(
                        jQuery('.bibInfoLabel', this).text().replace(/:/, '')
                    );

                    text[key] = jQuery.trim(
                        jQuery('.bibInfoData', this).text()
                    );
                });

                // Append the action button to the status cell.
                cell['Status'].append(
                    '&nbsp;' +
                    '<a href="' +
                        mapit_baseurl + '/' +
                        action + '?' +
                        jQuery.param(text) + '" class="map-it-action">' +
                    '<img src="' +
                        mapit_baseurl + '/images/btn_' +
                        action + '.png" alt="' +
                        mapit_action[text['Location']] + '">' +
                    '</a>'
                );
            }
        }
    }
});
